*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

.block {
	color: rgb(140, 183, 240);
}
.ol {
	color: rgb(212, 192, 112);
}
.span {
	color: rgb(182, 129, 129);
}
.block3 {
	color: rgb(132, 160, 103);
}
